.page-footer {
  margin-top:35px;
  background-color: #222;
  background-image: url(/img/footer_bg.png);
  background-repeat: no-repeat;
  background-position: center 32%;
  border-top:solid 5px #99bd2a;
  color:#aaa;
  a {
    color:#aaa;
    &:hover {
      color:#fff;
    }
  }
}

/*布局*/
.page-footer {
  .row {
    font-size:0;text-align:left;height:150px;padding-top:30px;
    .col{display:inline-block;font-size:14px;vertical-align:top;}
    .col1 {width:70%;}
    .col2, .col3 {width:15%;}
  }
}

/*tab头*/
.page-footer .tab-container {
  margin-top:0;margin-bottom:25px;
  & > li{display:inline-block;margin-right:10px;}
  & > li > a {
    display:block;background:#000;
    padding:4px 10px;
  }
  & > li.active > a {
    background:#444;
  }
}

/*tab content*/
.page-footer .tab-content {
  font-size:0;display:none;
  &.active {
    display:block;
  }
  & > li {display:inline-block;font-size:14px;margin-right:20px;}
}

/*contacts*/
.page-footer .contacts {
    line-height:30px;
    margin-top:-5px;
    .icon2 {
        display:inline-block;
        vertical-align:middle;
        background: url('/img/footer-before-icons.png') no-repeat;
        margin-right:8px;
        width: 30px;
        height: 20px;
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;
    }
    .us-phone .icon2{
        background-position: -1px -51px;
    }
    .cn-phone .icon2{
        background-position: -1px -81px;
    }
    .email {
        .icon2{
            background-position: -1px -134px;
        }
    }
}

/*follow-us*/
.page-footer .follow-us {
  text-align:right;
  .heading {margin-bottom:10px;}
  .follow-items {
    & > li {
      display:inline-block;
    }
  }
  .follow-wechat {
    margin-right:10px;
    .icon-wechat {
      font-size:20px;
    }
  }
  .follow-weibo {
    vertical-align: middle;
  }

  .hover-float {
    .float-pop{position:absolute;width:300px;height:300px;border:solid 1px #ddd;background-color:#fff;padding:10px;display:none}
    &:hover {
      .float-pop{display:block}
    }
    .float-pop.wechat{
      width:200px;height:200px;margin-top:-235px;
      background-image:url(/img/wechat.png);
      background-repeat:no-repeat;
      background-size:200px 200px;
      border:solid 1px #777;
      box-shadow:0 0 10px 2px #333
    }
  }
}


.page-footer .copyright {
  border-top:solid 1px #777;
  padding-top:10px;
  text-align:center;
  color:#777;
}

.page-footer .app-download-container {
  margin-top:20px;
  background:#f5f5f5;
  padding-top:15px;
  border-top: solid 1px #fff;
  .container {
    position:relative;
  }
  .download-qrcode {
    width:280px;
    height:115px;
    background: url(/img/mobile-qr.png) no-repeat;
    background-size:100px 100px;
    padding-left:110px;
    padding-top:30px;
    margin-left:310px;
    color:#555;
  }
  .phone-app {
    width:200px;
    height:150px;
    background: url(/img/phone_app.png) no-repeat;
    background-size:200px 150px;
    position:absolute;
    text-indent:-3000px;
    bottom:0;
    right:320px;
  }
}