/*rating simple*/
.rating-star{
    display:inline-block;
    text-align:left;
    font-size:0;
    background:url(/images/icons.png) no-repeat -168px -2px;
    width:60px;
    height:11px;
    .rating {
        display:inline-block;
        height:11px;
        background:url(/images/icons.png) no-repeat -168px -17px;
        &.rating-1{width:12px;}
        &.rating-2{width:24px;}
        &.rating-3{width:36px;}
        &.rating-4{width:48px;}
        &.rating-5{width:60px;}
    }
}