.news-top-banner-container {
    .news-item {
        display:block;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width:100%;
        position:relative;
        > span {
            position:absolute;
            left:0;width:100%;
            bottom:0;
            background:rgba(0,0,0,.5);
            color:#ddd;
            pointer-events:none;
        }
        &.main {
            > span {
                padding:10px;
                font-size:20px;
            }
        }
        &.sub {
            > span {
                display:block;
                height:50px;
                font-size:15px;
                padding:5px;
            }
        }
    }
    .children-items {
        margin-top:20px;
        margin-left:-20px;
        .box {
            margin-left:20px;
        }
        .news-item {
            height:150px;
        }
    }
}

.news-category-tab {
    margin-top:30px;
    margin-bottom:20px;
    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 2px;
        background: #ddd;
        margin-top: -2px;
    }
    .tab-item {
        display:inline-block;
        font-family:Lato;
        font-size:16px;
        text-transform:uppercase;
        margin-right:25px;
        color:#a3a49e;
        padding-bottom:5px;
        > a {
            text-decoration:none;
        }
        &.active {
            border-bottom:solid 2px #99bd2a;
            > a {
                color:#99bd2a;
            }
        }
    }
}

.module-news.default-index {
    .news-container {
        padding-top:20px;
    }
    .thumbnail-image {
        width:250px;
        max-height:156px;
    }
    .news-list {
        margin-top:-15px;
    }
    .news-item {
        border-bottom:solid 1px #ddd;
        padding:15px 0;
        .item-content {
            position:relative;
        }
        .heading {
            font-family:Lato;
            font-size:22px;
            color:#333;
            margin-bottom:15px;
            > a {
                text-decoration:none;
            }
        }
        .content {
            font-size:12px;
            color:#8e8e8e;
            font-size: 14px;
            word-break: break-all;
            text-overflow: ellipsis;
            display: -webkit-box;
            box-orient: vertical;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            -webkit-line-clamp: 3;
            overflow: hidden;
        }
        .bottom-toolbar {
            position:absolute;
            left:0;right:0;bottom:18px;width:100%;
            .box {
                position:relative;
            }
            .item {
                position:absolute;
                &.time {
                    left:0;
                    color:#8e8e8e;
                    > .icon {
                        background-position:-68px -34px;
                        width:13px;height:13px;
                        margin-bottom: -2px;
                        margin-right:3px;
                    }
                }
                &.btn-box{
                    right:0;
                    > .btn {
                        background:#fff;
                        border-color:#fff;
                        color:#99bd2a;
                        padding:3px 8px;
                        font-size:12px;
                    }
                }
            }
        }
    }
}

.module-news.default-index {
    .news-item:hover {
        .bottom-toolbar {
            .item {
                &.btn-box{
                    right:0;
                    > .btn {
                        background:#fff;
                        border:solid 1px #99bd2a;
                        color:#99bd2a;
                        padding:3px 8px;
                        font-size:12px;
                    }
                }
            }
        }
    }
}