
.marketing-guarantee {
    @keyframes bounce {
      from {
        transform: translateY(-4px);
      }
      to {
        transform: translateY(0);
      }
    }

    .item > a {
        display:inline-block;
    }
    .icon, .heading, .info {
        display:block;
    }

    text-align:center;
    .icon{width:52px;height:52px;background:url('/static/img/marking-icons.png') no-repeat;display:block;margin-left:auto;margin-right:auto;}
    .heading{margin-top:10px;font-size:15px;}
    .info{font-size:12px;color:#aaa;}

    .item{
        padding:0 40px;
        &:hover {
            .icon{animation:bounce 1s infinite;}
        }
        &.market .icon {width:70px;height:68px;background-position:0 -3px;margin-top:4px;}
        &.select .icon {width:68px;height:55px;background-position:-84px -13px;margin-top:17px;}
        &.manage .icon {width:65px;height:72px;background-position:-167px -3px;}
        &.service .icon {width:74px;height:66px;background-position:-246px -6px;margin-top:6px;}
    }
}