.house-grid {
    .row {
        margin-left:-20px;
        .rets-item {
            margin-left:20px;
        }
    }
    .rets-item {
        background:#fff;
        .image-box {
            position:relative;
            font-size:0;
            .price {
                position:absolute;
                left:0;bottom:0;
                display:block;
                padding:5px;
                background:rgba(160, 183, 55, 0.7);
                font-family: "Helvetica Light";
                font-size:18px;
                color:#fff;
            }
        }
        &:hover .image-box{
            transform:scale(1.005);
        }
        .info {
            color:#646464;
            padding:6px 10px;
            .location {
                float:left;
                .address {
                    display:block;
                }
            }
            .rooms {
                float:right;
            }
        }
    }
    .image-shower {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 174px;
    }
}