#rets-filters {
	/*TAB标签*/
	.tab-container {
		background:#fff;
		margin-bottom:20px;
		border-bottom:solid 1px #ddd;
	}
	.tabs {
		padding:15px 0;
		&>li {
			display:inline-block;
			padding:0 15px;
			&>a{font-size:24px;color:#333;}
			&.active {
				background:#fff;
				&>a{color:#99bd2a;}
			}
		}
	}
	/*学区filter*/
	.school-districtss-filter {
		font-size:13px;
		.item {
			display:inline-block;
			width:160px;
			line-height:26px;
			white-space: nowrap;
			text-overflow:ellipsis;
			overflow:hidden;
			> a{
				display:block;
				color:#777;
				&:active {color:#333;text-decoration:underline}
			}
			&.active {
				> a {
					color:#99bd2a;
				}
			}
		}
	}
	/*地铁filter*/
	.subway-filter {
		border:solid 1px #ddd;
		.lines {
			font-size:0;
			.line {
				display:inline-block;
				width:12.5%;
				font-size:12px;
				text-align:center;
				border-bottom:solid 3px #ddd;
				> a {
					display:block;
					padding:10px 0;
				}
				&.ll {
					border-left:solid 2px #fff;
				}
				&.active {
					background:#fff;
				}
			}
		}
		.subway-all-stations {
			padding:20px 15px;
			background:#fff;
			font-size:11px;
			.station-lines{display:none;}
			.stations {
				.station {
					display:inline-block;
					margin-right:7px;
					> label {
						display:block;
						line-height:17px;
						color:#777;
						margin-bottom:14px;
						cursor:pointer;
						.ck {
							appearance:none;
							-moz-appearance:none;
							-webkit-appearance:none;
							width: 20px;
						    height: 20px;
						    border: solid 1px #F8C68B;
						    border-radius: 4px;
						    vertical-align: middle;
						    position:relative;
						    margin-top:-2px;
						    cursor:pointer;
						    &:focus {
						    	outline:none;
						    }
						    &:after {
						    	content:'';
						    	display:block;
						    	position:absolute;
						    	width:16px;
						    	height:16px;
						    	background:#fff;
						    	border-radius:4px;

						    	border:solid 2px #fff;
						    	width:10px;
						    	height:10px;
						    	background:#f0f0f0;
						    	border-radius:4px;
						    	top: 2px;
    							left: 2px;
						    }
						    &:checked:after {
						    	border:solid 2px #fff;
						    	width:10px;
						    	height:10px;
						    	background:#F8C68B;
						    	border-radius:4px;
						    }
						}
						> span {
							    display: inline-block;
							    margin-left: -12px;
							    padding: 0 10px 0 16px;
							    border: solid 1px #F8C68B;
							    border-left-color: transparent !important;
							    color: #777;
							    line-height: 18px;
							    border-radius: 0 9px 9px 0;
							    border-left-color:rgba(0,0,0,1);
							    &:hover {
							    	color:#99bd2a;
							    }
						}
					}
					&.active {
						> label > span {
							color:#99bd2a;
						}
					}
				}
				&.line-RLA {
					.station > label .ck {
						border-color:#F76C6C;
						&:checked:after {
							background:#F76C6C;
						}
					}
					.station > label > span {
						border-color:#F76C6C;
					}
				}
				&.line-RLB {
					.station > label .ck {
						border-color:#F76C6C;
						&:checked:after {
							background:#F76C6C;
						}
					}
					.station > label > span {
						border-color:#F76C6C;
					}
				}
				&.line-BL {
					.station > label .ck {
						border-color:#A3C9FB;
						&:checked:after {
							background:#A3C9FB;
						}
					}
					.station > label > span {
						border-color:#A3C9FB;
					}
				}
				&.line-GLB {
					.station > label .ck {
						border-color:#ADE9BE;
						&:checked:after {
							background:#ADE9BE;
						}
					}
					.station > label > span {
						border-color:#ADE9BE;
					}
				}
				&.line-GLC {
					.station > label .ck {
						border-color:#ADE9BE;
						&:checked:after {
							background:#ADE9BE;
						}
					}
					.station > label > span {
						border-color:#ADE9BE;
					}
				}
				&.line-GLD {
					.station > label .ck {
						border-color:#ADE9BE;
						&:checked:after {
							background:#ADE9BE;
						}
					}
					.station > label > span {
						border-color:#ADE9BE;
					}
				}
				&.line-GLE {
					.station > label .ck {
						border-color:#ADE9BE;
						&:checked:after {
							background:#ADE9BE;
						}
					}
					.station > label > span {
						border-color:#ADE9BE;
					}
				}
			}
		}
	}
	/*标准filters*/
	.general-filters {
		margin-top:20px;
		font-size:13px;
		.filter {
			padding:7px 0;
			> label {
				display:inline-block;
				width:75px;
				white-space:nowrap;
				&:after {
					content:':'
				}
			}
			> .values {
				display:inline-block;
				> li {
					display:inline-block;margin-right:15px;
					&.active {
						> a {color:#99bd2a;}
					}
				}
			}
			.custom.range {
 				> span {
 					margin:0 4px;
 				}
			}
		}
	}

	/*工单条, 包含其它filter与sort*/
	.toolbar-container {
		.container {
			background: #f2f2f2;
			padding: 10px;
			border: solid 1px #e9e9e9;
		}
		.dropdown-filters {
			display:inline-block;
			font-size:0;
			vertical-align:top;
			.filter.dropdown {
				display:inline-block;
				background:#fff;
				font-size:12px;
				margin-left:-1px;
				max-height:30px;
				vertical-align:top;
				position:relative;
				&:first-child {
					margin-left:0;
				}
				> label {
					font-size:13px;font-weight:200;color:#999;
					padding-right:15px;
					padding:5px 10px;
					margin-bottom:0;
					border:solid 1px #ccc;
					> span {
						color:#333;
					}
					.arrow {
						display:inline-block;
						width:0;height:0;
						border-width:5px;
						border-style:solid;
						border-color:#999 #fff #fff #fff;
						vertical-align:bottom;
						right:5px;
						top:12px;
					}
				}
				.dropdown-options {
					position:absolute;
					background:#fff;
					width:100%;
					border: solid 1px #ccc;
    				margin-top:-1px;
    				display:none;
    				z-index:1;
    				> li {
    					> a {
    						display:block;
    						padding:4px 10px;
    					}
    					&:hover, &.active {
    						background:#e9e9e9;
    						> a {
    							color:#99bd2a;
    						}
    					}
    				}
				}
				&:hover {
					.dropdown-options {
						display:block;
					}
				}
			}
		}
		.sort-select {
			display:inline-block;
			background:#fff;
			padding:5px 10px;
			height:auto;
			color:#999;
		}
	} 
}