.search-input-group{
    font-size:0;
    position:relative;
    .icon-search {
        position: absolute;
        z-index: 10;
        color: #000;
        top: 10px;
        left: 5px;
        font-size:24px;
        color:#777;
    }
    .search-input {
        display:inline-block;
        width: 626px;
        padding-left:30px;
        border: 0;
        height: 48px;
        line-height: 48px;
        border-radius:2px 0 0 2px;
        font-size: 14px;
        outline:none;
        border: solid 1px #dedede;
        &:focus {
            outline:none;
        }
    }
    #go {
        background: #99bd2a;
        width: 127px;
        height: 48px;
        border: 0;
        border-radius: 0 2px 2px 0;
        cursor: pointer;
        text-align: center;
        font-size: 18px;
        color: #fff;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        display: inline-block;
        vertical-align: top;
        line-height: 48px;
    }
}

.home-default-index {
    .search-input {
        border: solid 1px #fff;
    }
}